<div class="page page-profile">
	<div class="row">
        <div class="col-md-12">
            <ul class="nav nav-boxed nav-justified">
                <li><a href="#/dashboard"><i class="color-success fa fa-home"></i> Home</a></li>
                <li><a href="javascript:;"><i class="color-warning fa fa-star"></i> Favoritos</a></li>
                <li><a href="javascript:;"><i class="color-danger fa fa-bookmark"></i> Reservados</a></li>
                <li><a href="javascript:;"><i class="color-info fa fa-bookmark"></i> Lidos</a></li>
                <li><a href="javascript:;"><i class="color-primary fa fa-bookmark"></i> Avaliados</a></li>
                <li><a href="javascript:;"><i class="color-info-alt fa fa-bookmark"></i> Desejado</a></li>
            </ul>
        </div>
    </div></br>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-profile">
                <div class="panel-heading text-center bg-info">
                    <img alt="" src="images/IMG0364.jpg" class="img-circle img80_80">
                    <h3>{{main.name}}</h3>
                    <p>Java Developer</p>                    
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">2</p>
                            <p class="text-muted">Emprestados</p>
                        </li>
                        <li>
                            <p class="size-h3">5</p>
                            <p class="text-muted">Devolvidos</p>
                        </li>
                        <li>
                            <p class="size-h3">1</p>
                            <p class="text-muted">Atrasado</p>
                        </li>
                    </ul>
                </div>
            </div>
            
<!--             <div class="panel panel-profile"> -->
<!--                 <div class="panel-heading bg-primary clearfix"> -->
<!--                     <a href="" class="pull-left profile"> -->
<!--                         <img alt="" src="images/IMG0364.jpg" class="img-circle img80_80"> -->
<!--                     </a> -->
<!--                     <h3>{{main.name}}</h3> -->
<!--                     <p>Java Developer</p> -->
<!--                 </div> -->
<!--                 <ul class="list-group"> -->
<!--                     <li class="list-group-item"> -->
<!--                         <span class="badge">14</span> -->
<!--                         <i class="fa fa-envelope-o"></i> -->
<!--                         Mensagens -->
<!--                     </li> -->
<!--                     <li class="list-group-item"> -->
<!--                         <span class="badge badge-warning">2</span> -->
<!--                         <i class="fa fa-comments-o"></i> -->
<!--                         Emprestados -->
<!--                     </li> -->
<!--                     <li class="list-group-item"> -->
<!--                         <span class="badge badge-info">1</span> -->
<!--                         <i class="fa fa-heart-o"></i> -->
<!--                         Atrasados -->
<!--                     </li> -->
<!--                     <li class="list-group-item"> -->
<!--                         <span class="badge badge-success">3</span> -->
<!--                         <i class="fa fa-folder-open-o"></i> -->
<!--                         Solicitados -->
<!--                     </li> -->
<!--                 </ul> -->
<!--             </div> -->

<!--             div class="row">
<!--                 <div class="col-sm-6"> -->
<!--                     <section class="panel panel-box"> -->
<!--                         <div class="panel-top bg-facebook"> -->
<!--                             <div class="divider divider"></div> -->
<!--                             <i class="fa fa-facebook size-h1"></i> -->
<!--                             <div class="divider divider"></div> -->
<!--                         </div> -->
<!--                         <div class="list-justified-container"> -->
<!--                             <ul class="list-justified text-center"> -->
<!--                                 <li> -->
<!--                                     <p class="size-h3">575</p> -->
<!--                                     <p class="text-muted">Followers</p> -->
<!--                                 </li> -->
<!--                                 <li> -->
<!--                                     <p class="size-h3">23</p> -->
<!--                                     <p class="text-muted">Following</p> -->
<!--                                 </li> -->
<!--                             </ul> -->
<!--                         </div> -->
<!--                     </section> -->
<!--                 </div> -->
<!--                 <div class="col-sm-6"> -->
<!--                     <section class="panel panel-box"> -->
<!--                         <div class="panel-top bg-twitter"> -->
<!--                             <div class="divider divider"></div> -->
<!--                             <i class="fa fa-twitter size-h1"></i> -->
<!--                             <div class="divider divider"></div> -->
<!--                         </div> -->
<!--                         <div class="list-justified-container"> -->
<!--                             <ul class="list-justified text-center"> -->
<!--                                 <li> -->
<!--                                     <p class="size-h3">575</p> -->
<!--                                     <p class="text-muted">Followers</p> -->
<!--                                 </li> -->
<!--                                 <li> -->
<!--                                     <p class="size-h3">23</p> -->
<!--                                     <p class="text-muted">Following</p> -->
<!--                                 </li> -->
<!--                             </ul> -->
<!--                         </div> -->
<!--                     </section>                         -->
<!--                 </div> -->
<!--             </div --> 


          
        </div>
        <div class="col-md-6">

<!--             div class="row">
<!--                 <div class="col-sm-6"> -->
<!--                     <div class="panel mini-box"> -->
<!--                         <span class="box-icon bg-danger"> -->
<!--                             <i class="fa fa-film"></i> -->
<!--                         </span> -->
<!--                         <div class="box-info"> -->
<!--                             <p class="size-h2">39</p> -->
<!--                             <p class="text-muted">Amazing Films</p> -->
<!--                         </div> -->
<!--                     </div>                     -->
<!--                 </div> -->
<!--                 <div class="col-sm-6"> -->
<!--                     <div class="panel mini-box"> -->
<!--                         <span class="box-icon bg-warning"> -->
<!--                             <i class="fa fa-camera"></i> -->
<!--                         </span> -->
<!--                         <div class="box-info"> -->
<!--                             <p class="size-h2">63</p> -->
<!--                             <p class="text-muted">Wonderful Photos</p> -->
<!--                         </div> -->
<!--                     </div>                     -->
<!--                 </div> -->
<!--             </div --> 
<!--             div class="row">
<!--                 <div class="col-sm-6"> -->
<!--                     <div class="panel mini-box"> -->
<!--                         <span class="box-icon bg-success"> -->
<!--                             <i class="fa fa-bookmark-o"></i> -->
<!--                         </span> -->
<!--                         <div class="box-info"> -->
<!--                             <p class="size-h2">55</p> -->
<!--                             <p class="text-muted">New Collections</p> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--                 <div class="col-sm-6"> -->
<!--                     <div class="panel mini-box"> -->
<!--                         <span class="box-icon bg-info"> -->
<!--                             <i class="fa fa-check"></i> -->
<!--                         </span> -->
<!--                         <div class="box-info"> -->
<!--                             <p class="size-h2">34</p> -->
<!--                             <p class="text-muted">Tasks Finised</p> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div  --> 

            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Informa&ccedil&otildees do aluno:</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>Nome</label>
                                    {{main.name}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <label>Email</label>
                                   raphaa.ld@gmail.com
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-home"></span>
                                    <label>Curso</label>
                                    Sistema de informacao
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-flag"></span>
                                    <label>Matricula</label>
                                    11-1-011253
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      

</div>