<div class="page-signin login-page" data-ng-controller="loginController">

    <div class="main-body">
        <div class="container">
            <div class="form-container">

                <section class="row signin-social text-center">
                    <a href="javascript:;" class="btn-icon btn-icon-sm bg-twitter"><i class="fa fa-twitter"></i></a>
                    <div class="space"></div>
                    <a href="javascript:;" class="btn-icon btn-icon-sm bg-facebook"><i class="fa fa-facebook"></i></a>
                    <div class="space"></div>
                    <a href="javascript:;" class="btn-icon btn-icon-sm bg-google-plus"><i class="fa fa-google-plus"></i></a>
                </section>

                <span class="line-thru">OU</span>

                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="email"
                                       class="form-control"
                                       placeholder="usuario"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       placeholder="senha"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <a href="#/dashboard" class="btn btn-primary btn-lg btn-block">Entrar</a>
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p class="text-center"><a href="#/pages/forgot">Esqueceu a senha?</a></p>
                    <p class="text-center text-muted text-small">Ainda nao e cadastrado? <a href="#/pages/signup">Cadastre-se</a></p>
                </section>
                
            </div>
        </div>
    </div>

</div>