<div class="page" data-ng-controller="cadastroAlunoController">
		<div class="panel panel-default">
			<div class="panel-heading" style="text-align: center;">
				<strong>
					Cadastro de aluno</strong>
			</div>
			<div class="panel-body">
				<form name="form_constraints" class="form-validation" novalidate>
					<strong><h2>Informacoes do aluno</h2></strong>
					<br/>
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<label for="alunoMatricula">Matricula:</label> <input type="number"
									class="form-control" 
									required
									id="alunoMatricula"  
									data-ng-model="aluno.matricula">
								<span></span>
							</div>
							<div class="col-md-4">
								<label for="alunoNome">Nome do aluno:</label> <input type="text"
									class="form-control" 
									required
									id="alunoNome"  
									data-ng-model="aluno.nome">
								<span></span>
							</div>
							<div class="col-md-4">
								<label for="alunoEmail">Email:</label> <input type="text"
									class="form-control" 
									required
									id="alunoEmail"  
									data-ng-model="aluno.email">
								<span></span>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<div class="row">
							<div class="col-md-12">
								<label 	for="alunoCurso">Cuso:</label>
								<input 	type="text"
										class="form-control"
										id="alunoCurso" 
										required 
										data-ng-model="aluno.curso">
							</div>
                        </div>
                     </div>

					<button type="submit"
							id="btnLivro" 
							class="btn btn-primary btn-block"
							style="font-size: 20px;"
							data-ng-click="inserirAluno(aluno)">Cadastrar</button>
					<div class="callout callout-info">
						<p>Voce so podera cadastrar quando todos os campos forem validos.</p>
					</div>
				</form>
			</div>
		</div>
</div>