<header class="clearfix">

    <!-- Logo -->
    <div class="logo">
        <a href="#/">
<!--             <span class="logo-icon glyphicon glyphicon-fire"></span> -->
            <span>Estácio</span>
        </a>
    </div>

    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-min-nav
                             class="toggle-min"
                             ><i class="fa fa-bars"></i></a>
            </li>
            <li class="dropdown text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="images/IMG0364.jpg" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-i18n="Raphael"></span>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-dark with-arrow">
                    <li>
                        <a href="#/pages/profile">
                            <i class="fa fa-user"></i>
                            <span data-i18n="Meu perfil"></span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#/login">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n="Sair"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul> 

        <ul class="nav-right pull-right list-unstyled">
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle bg-danger" data-toggle="dropdown">
                    <i class="fa fa-bell-o nav-icon"></i>
                    <span class="badge badge-info">2</span>
                </a>
                <div class="dropdown-menu pull-right with-arrow panel panel-default">
                    <div class="panel-heading">
                        Você tem 2 notificações
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-success"><i class="fa fa-bell-o"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">Você tem 1 dia para retirar o seu empréstimo na biblioteca</span>
                                    <span class="text-muted block">2min ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="square-icon sm bg-danger"><i class="fa fa-bell-o"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">Seus emprestimos vencem</span>
                                    <span class="text-muted">1 dia</span>
                                </div>
                            </a>
                        </li>                       
                    </ul>
                </div>
            </li>
            <li>
                <a href="#/tasks" class="bg-info">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>
    </div>

</header>
