        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>
        
        <li>
            <a href="#/views"><i class="fa fa-building-o"></i><span data-i18n="Cadastro"></span></a>
            <ul>
                <li><a href="#/cadastroLivro"><i class="fa fa-caret-right"></i><span data-i18n="  Livro"></span></a></li>
                <li><a href="#/cadastroMonografia"><i class="fa fa-caret-right"></i><span data-i18n="  Monografia"></span></a></li>
           		<li><a href="#/cadastroAluno"><i class="fa fa-caret-right"></i><span data-i18n=" Aluno"></span></a>
            </ul>
        </li>
        
        <li>
            <a href="#/views"><i class="fa fa-circle-o-notch"></i><span data-i18n="Emprestimo"></span></a>
            <ul>
                <li><a href="#/realizarEmprestimo"><i class="fa fa-caret-right"></i><span data-i18n="  Realizar Emprestimo"></span></a></li>
                <li><a href="#/renovacao"><i class="fa fa-caret-right"></i><span data-i18n="  Renovar Emprestimo"></span></a></li>
            </ul>
           
        </li>
    </ul>
</div>